article {
  margin: 20px;
  padding: 20px;

  font-size: 16px;
  color: black;
  background-color: rgb(247, 247, 217);
  box-shadow: 0 0 5px white, 0 0 5px white, 0 0 5px rgb(50, 101, 149);
  border-radius: 15px;
}

.topic {
  margin: 10px;
  font-size: 20px;
  color: rgb(50, 101, 149);
}

.content {
  display: inline-flex; 
  overflow:hidden;
}

img {
  border: 1px solid black;
  vertical-align:text-top;
}

ul {
  margin: 10px;
  padding: 5px;

  justify-content: space-around;
  list-style-type: none;
}

ul li {
  width: 100%;
  line-height: 15px;
  justify-content: space-around;
}
ul li:hover{
  border-radius: 10px;
  box-shadow: 5px 2px 2px gray;
}
