article {
  margin: 20px;
  border: 1px solid black;
  color: black;
  background-color: white;
  box-shadow: 0 0 5px white, 0 0 5px white, 0 0 5px rgb(50, 101, 149);
  border-radius: 15px;
}
div {
  display: grid;
  overflow: visible;
}

figure {
  position: right;
  border: 1px solid black;
}
ul {
  margin: 0;
  padding: 5px;
  display: flex;
  overflow: visible;
  list-style-type: none;
}

ul li {
  width: 80%;
  line-height: 15px;
  justify-content: center;
}
